@model AgiliFood.Models.ModeloVisao.CidadeViewModel

@{
    ViewBag.Title = "Detalhes";
}

<div>
    <h4>Detalhes da Cidade @Html.DisplayFor(model => model.Nome)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retornar Para Lista de Estados", "Index")
</p>
