@model AgiliFood.Models.ModeloVisao.EstadoViewModel

@{
    ViewBag.Title = "Detalhes";
}

<div>
    <h4>Detalhes do Estado @Html.DisplayFor(model => model.Nome)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retornar Para Lista de Estados", "Index")
</p>
