<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AgiliFood</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AgiliFood", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--Menu do Pedido-->
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Fazer Pedido
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Início", "Index", "Home")</li>
                            <li>@Html.ActionLink("Pedido", "Index", "PedidoViewModels")</li>
                        </ul>
                    </li>
                    <!--Menu do Adm-->
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Cadastros
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cadastro de Produtos", "Index", "ProdutoViewModels")</li>
                            <li>@Html.ActionLink("Cadastro de Cardapio", "Index", "CardapioViewModels")</li>
                            <li>@Html.ActionLink("Cadastro de Fornecedores", "Index", "FornecedorViewModels")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Cadastro Pais", "Index", "PaisViewModels")</li>
                            <li>@Html.ActionLink("Cadastro Estado", "Index", "EstadoViewModels")</li>
                            <li>@Html.ActionLink("Cadastro Cidade", "Index", "CidadeViewModels")</li>
                            <li>@Html.ActionLink("Cadastro Cep", "Index", "CepViewModels")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Registra Usuário", "Register", "Login")</li>
                        </ul>
                    </li>
                    <!--Financeiro-->
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Financeiro
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Contas a Receber", "Index", "ContasReceberViewModels")</li>
                        </ul>
                    </li>
                    <!--Menu da aplication-->
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Sobre o APP
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                            <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["mensagem"] != null)
        {
            <div class="alert alert-success">@TempData["mensagem"]</div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Agili Software Brasil</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
