@model AgiliFood.Models.ModeloVisao.PedidoViewModel

@{
    ViewBag.Title = "Excluir";
}
<h3>Tem Certeza Que Deseja Excluir Esse Registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Funcionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Funcionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Cardapio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Cardapio)
        </dd>
            </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Retornar Para Lista de Pedidos", "Index")
        </div>
    }
</div>
