@model AgiliFood.Models.ModeloVisao.PedidoViewModel

@{
    ViewBag.Title = "Detalhes";
}
<div>
    <h4>Detalhes do Pedido @Html.DisplayFor(model => model.Total)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Funcionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Funcionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Cardapio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Cardapio)
        </dd>
                   </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retornar Para Lista de Pedidos", "Index")
</p>
