@model AgiliFood.Models.ModeloVisao.CepViewModel

@{
    ViewBag.Title = "Excluir";
}

<h3>Tem Certeza que Deseja Excluir Este Registro ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Retornar Para Lista de Cep", "Index")
        </div>
    }
</div>
