@model AgiliFood.Models.ModeloVisao.CepViewModel

@{
    ViewBag.Title = "Detalhes";
}

<div>
    <h4>Detalhes do Cep</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retornar Para Lista de Cep", "Index")
</p>
