@model IEnumerable<AgiliFood.Models.ModeloVisao.ContasReceberViewModel>

@{
    ViewBag.Title = "Index";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Fornecedor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.Fantasia)
            </td>
            <td></td>
        </tr>
    }

</table>
