@model IPagedList<AgiliFood.Models.ModeloVisao.PaisViewModel>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Lista de Países";
}

<h2>Países</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>Código</th>
        <th>Nome</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
